<html>
<head>
<link rel="stylesheet" href="/css/create.css" />
    <title><%=title.vaild%></title>
<script>function goBack(){
    
    window.history.back();   
}</script>

</head>
<body>
    <div class="form-style-6">
    <% if (title.vaild == "Error"){%>
        <h1>Error</h1>
        <p>You are not the owner!!</p>
        <button onclick="goBack()">Back</button>
    <%}if (title.vaild == "Change New Restaurant"){%>
    <h1>Modify Restaurant test</h1>
    <form action="/change" method="post" enctype="multipart/form-data">
    <p>

    <input type="hidden" name="_id" value="<%=restaurant._id%>">
    Name: <input required name="name" type = 'text' required value="<%=restaurant.name%>" >

    Borough: <input name="borough"class="" type="text" value="<%=restaurant.borough%>" >
  
    Cuisine: <input name="cuisine"class="" type="text" value="<%=restaurant.cuisine%>" >
    Street: <input name="street"class="" type="text" value="<%=restaurant.address.street%>" >
    Building: <input name="building"class="" type="text" value="<%=restaurant.address.building%>" >
    Zipcode: <input name="zipcode"class="" type="text" value="<%=restaurant.address.zipcode%>" >
    GPS Coordinates (lon.): <input name="lon"class="" type="text" value="<%=(restaurant.address.coord)?restaurant.address.coord[0]: ""%>" >
    GPS Coordinates (lat.): <input name="lat"class="" type="text" value="<%=(restaurant.address.coord)?restaurant.address.coord[1]: ""%>" >
    Photo: <input type="file" name="filetoupload" accept="image/*">
    <button type = 'submit'>Edit</button></p>
  </form>
  <button onclick="goBack()">Go Back</button>


<%}if (title.vaild == "updated"){%>
    <h1>Updated!</h1>
    <button onclick="location.href='/main'">Home</button>
<%}%>
    </div>
</body>
</html>