<html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--For responsive html-->
        <div class = 'header'>
        <head>
        <link rel="stylesheet" href="/css/display.css" />
        <title>S381F Project Dashboard</title>
        <h1><%=restaurant.name%></h1>
        <button onclick="location.href='/doLogout'" id='logout'>Logout</button>
        </head>
        </div>
        <body>
            <%if (restaurant.photo){%>
                <img src="data:<%=restaurant.photomimetype%>;base64,<%=restaurant.photo%>">
                <%}%>
                <ol>
                    <li class = 'nostyle'>Borough: <%=restaurant.borough%></li>
                    <li class = 'nostyle'>Cuisine: <%=restaurant.cuisine%></li>
                    <li class = 'nostyle'>Street: <%=restaurant.address.street%></li>
                    <li class = 'nostyle'>Building:<%=restaurant.address.building%></li>
                    <li class = 'nostyle'>Zipcode:<%=restaurant.address.zipcode%></li>
                    <li class = 'nostyle'>GPS: <%=restaurant.address.coord%></li>
                    <li class = 'nostyle'>Rating:<ul>
                    <% for(var key in restaurant.rate){%>
                        <li>Score: <%=restaurant.rate[key].score%>  By: [<%=restaurant.rate[key].user%>]</li>
                    <%}%>
                    </ul>
                    <li class = 'nostyle'>Created by: <%=restaurant.owner%></li>
                </ol>
                <form action='/rate' method="post" enctype='multipart/form-data'>
                    <input type="hidden" name="_id" value="<%=restaurant._id%>">
                    <select name="score" id = "score">Rate:
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    <option value = "10">10</option>
                    </select>
                    <%if(rated == true){%>You already rated!</br>
                    <input type="submit" value="Rate" disabled><%}else{%>
                    <input type="submit" value="Rate" > <%}%>   
                </form>
                <% if(restaurant.address.coord){%>
                    <a href = '/gmap?lat=<%=restaurant.address.coord[0]%>&lon=<%=restaurant.address.coord[1]%>&title=<%=restaurant.name%>'>Google Map</a><br>
                <%}%>
                <button onclick="location.href='/change?id=<%=restaurant._id%>'">Edit</button>
                <button onclick="location.href='/remove?id=<%=restaurant._id%>'">Delete</button>
                <button onclick="goBack()">Go Back</button>
                <script>
                        function goBack() {
                            window.history.back();
                        }
                </script>
        </body>
    </html>